.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 80px;
  gap: 50px;
}

.btn {
  width: 50%;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: 800;
  margin: 0 auto;
  cursor: pointer;
}
